<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="icon" type="image/x-icon" href="/images/速康logo.jpg" >
    <link rel="stylesheet" href="/stylesheets/OnePersonCss.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/javascripts/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=2.0&ak=H9G5X4tyPuhvHosMGue3B4RcImb2ZOod"></script>
    <script>
        $(document).ready(function(){
            $.get("/users/Session",function(data,status){
                console.log("数据: " + data + "\n状态: " + status);
                $("#UserInfo").html(data);
            });
        });
    </script>
</head>
<body>
<div id="top">
    <div id="left">
        当前位置
        <div id="demo">[正在定位..]</div>
        <div id="allmap"></div>
    </div>
    <div id="right">
        <ul>
            <div class="right1"><span id="UserInfo"></span>&nbsp;</div>
            <div class="right2">
                <li><a href="/goods/UserOrder">我的订单</a> |</li>
                <li><a href="/users/ShowUser">个人中心 |</a></li>
                <li><a href="/Help">帮助中心</a> |</li>
                <li>手机APP |</li>
                <li><a href="/users/glyLogin">管理员</a></li>
            </div>
        </ul>
    </div>
</div>
<div class="head_nav">
    <ul>
        <li style="float: left;color:#5a5eff;font-size: 35px;margin-left: 10px;margin-top: 10px;font-family: '华文行楷'">速康送药</li>
        <li  style=" margin-left: 200px;"><a href="/">首页</a></li>
        <li><a href="/users/ShowUser">个人资料</a></li>
        <li><a href="/users/UpdateUser">修改个人资料</a></li>
        <li><a href="/users/ShowUpdatePassword">修改密码</a></li>
        <li><a href="/goods/Cart">购物车</a></li>
    </ul>
</div>
<div class="container2">
    <div class="box">
        <form method='post' action='/users/UPassword' role="form">
            <div class="oldpassword">
                <label>当&nbsp;前&nbsp;密&nbsp;码：</label>
                <div class="kt_1">
                    <input type="password" id="UserPassword" name="UserPassword" placeholder=" 请输入当前密码"/>
                </div>
            </div>
            <div class="newpassword">
                <label>设置新密码：</label>
                <div class="kt_1">
                    <input type="password" id="SetNewPassword" name="SetNewPassword" placeholder=" 请输入新密码" />
                </div>
            </div>
            <div class="newpassword2">
                <label>确&nbsp;认&nbsp;密&nbsp;码：</label>
                <div class="kt_1">
                    <input type="password" id="UserConfirmPassword" name="UserConfirmPassword" placeholder=" 再次输入密码"/>
                </div>
            </div>
            <div class="button"><input type="submit" value="修改" style="background-color: #0a50ba;border: none;color:white"></div>

        </form>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(116.331398,39.897445);
    map.centerAndZoom(point,12);

    function myFun(result){
        var cityName = result.name;
        map.setCenter(cityName);
        document.getElementById('demo').innerHTML='['+cityName+']';
    }
    var myCity = new BMap.LocalCity();
    myCity.get(myFun);
</script>