<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网上支付</title>
    <link rel="icon" type="image/x-icon" href="/images/速康logo.jpg" >
    <link rel="stylesheet" href="/stylesheets/money.css">
</head>
<body>

<!--<div id="top">
    <div id="left">
        送货至
        <div id="demo">[正在定位...]</div>
        <div id="allmap"></div>
    </div>
    <div id="right">
        <ul>
            <div class="right1"><span id="UserInfo"></span>&nbsp;</div>
            <div class="right2">
                <li><a href="/goods/UserOrder">我的订单</a> |</li>
                <li><a href="/users/UpdateUser">个人中心 |</a></li>
                <li><a href="/Help">帮助中心</a> |</li>
                &lt;!&ndash;<li style="color:#C7A875">400-007-1234 |</li>&ndash;&gt;
                <li>手机APP |</li>
                <li><a href="/users/glyLogin">管理员</a></li>
            </div>
        </ul>
    </div>
</div>-->

<div id="header">
    <div class="logo">
        <img src="../images/alipay.png" alt="" align="center">

    </div>
    <div class="logo-title">我的收银台</div>
    <div class="header-right">

        <div class="header-right_1">支付宝账户：<span>15637998252</span></div>
        <div class="header-right_1"><a target="_blank" href="#">找人代付</a></div>
        <div class="header-right_1">唯一热线：95188</div>

    </div>
</div>
<div class="container">
    <div class="container_top">
        <div class="top-0"><img src="../images/fukuanma.jpg" alt="" style="width: 18%;height: 18%"></div>
        <div class="top_1"><p>速康送药---惠氏善存，多种维生素钙组合</p><p>收款方：速康送药网上专营店</p></div>
        <div class="top_price"><font style="color:#FF830A;font-size: 30px"><b>12.00</b></font>元</div>
    </div>
    <div class="container_buttom">
        <div class="bottom_1">
            <input type="radio" style="margin-left: 20px"><b style="margin-left: 10px">蚂蚁花呗</b><b style="background-color:#2bab92;color:white;font-size: 14px;margin-left: 30px;padding: 3px">推荐</b>
            <b style="margin-left: 485px;">支付<font style="color:#FF830A;font-size: 26px ">12.00</font>元</b>
        </div>
        <div class="bottom_2">
            <div class="bottom_2-1">其他付款方式</div>
            <div class="bottom_2-2">添加快捷/网银付款</div>
        </div>
        <div class="botton_3">
            <img src="../images/paysafe.png" alt=""><p style="margin-left: 20px;margin-top: -18px">支付环境安全，请放心使用！</p>
        </div>
        <div class="botton_4">
            <p>支付宝密码:</p>
        </div>
        <div class="botton_5">
            <input type="password" name="password" placeholder="请输入密码" style="width: 200px;height: 30px">
            <a href="" style="color:#02AAEE;font-size: 14px;margin-left: 10px">忘记密码？</a>
        </div>
        <div class="botton_6">
            <a href="/goods/Success">
        <input type="button" value="确认付款" style="width: 100px;height: 30px;color:white;background-color:#02aaee;border:none;border-radius: 5px;cursor: pointer;"></a>
        </div>

    </div>
    <div class="footer">
        <p style="text-align: center;color:#818181;font-size: 14px;margin-top: 30px">支付宝版权所有 2004-2016 ICP证：沪B2-20150087</p>
    </div>
    <div style="text-align: center;margin-top: 30px"><img src="../images/paybuttom.png" alt=""></div>
</div>
</body>
</html>
