<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章</title>
    <link rel="icon" type="image/x-icon" href="/images/速康logo.jpg" >
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/list.css" rel="stylesheet">
    <script src="/javascripts/jquery-3.1.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body data-spy="scroll" data-target="#myScrollspy">
<header>
    <a class="logo" href="/">
        <img src="/images/速康3.jpg">
    </a>
    <img src="/images/title.png" style="height: 90px;width: 222px;padding-left: 20px;margin-top: 8px;">
</header>
<div class="line1"></div>


<div class="H-title">
    <a href="/">首页 </a> > <a href="/users/Health">健康资讯</a>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-3" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
                <li class="active"><a href="#section-1">第一部分</a></li>
                <li><a href="#section-2">第二部分</a></li>
                <li><a href="#section-3">第三部分</a></li>
                <li><a href="#section-4">第四部分</a></li>
                <li><a href="#section-5">第五部分</a></li>
                <li><a href="#section-6">第六部分</a></li>
                <li><a href="#section-7">第七部分</a></li>
                <li><a href="#section-8">第八部分</a></li>
            </ul>
        </div>
        <div class="col-xs-9">
            <section>
                <div class="contain">
                    <div class="l-title" id="section-1">
                        <a href="#" id="page1">中老年人患上冠心病的原因</a>
                    </div>
                    <div class="text">
                        <p>
                            我们都知道，冠心病是心血管疾病中比较常见的一种，常常发生于中老年人群，当然随着近年来生活水平的提高，人们生活结构方式的改变，冠心病疾病已经慢慢年轻化，很多年轻人也渐渐加入了冠心病这个队伍中来，这不得不提醒我们广大朋友们，生活中对该病一定要多加重视，及时做好防范才行。那么，中老年人患上冠心病的原因有哪些呢?</p>
                        <p>中老年人患上冠心病的原因有哪些?上海远大心胸医院心内科中心主任孟庆智指出，中老年人患上冠心病的原因有很多，以下提到的内容希望对大家有所帮助：</p>
                        <p>
                            1、年龄与性别：根据临床研究统计，年龄超过四十岁以后的，不论是男性还是女性，患上冠心病的几率都大大增加。不过，专家也同时提醒：女性在绝经前患冠心病几率要相对男性小一些，但是绝经后患病几率便大大增加，这是为什么呢?这主要是因为女性在绝经后，体内雌性激素分泌减少，女性心血管缺乏了保护伞，从而心脏血管缺乏缓冲适应力，所以心脏血管病的发生率就急剧增加。</p>
                        <p>
                            2、高血脂症：脂质代谢紊乱也是引发冠心病的重要原因之一，这是因为胆固醇的提高会导致患上冠心病的几率大大增加，这是因为胆固醇上升会导致肝功能受损，导致脂质降解受损，从而影响肝脏的正常代谢能力，最终引发冠心病的危险。</p>
                        <p>
                            3、七情内伤：人们生活中表现的、怒、忧、思、悲、恐、惊等，这些情绪都会影响着人们的身体健康。情绪波动较大，会导致患者气郁不畅，气滞血瘀，心脉弊阻，不通则痛，换句话说，这也同样会导致冠心病发生的几率大大增加。</p>
                        <p>
                            4、饮食不节：我们应该都明白，健康的饮食往往对疾病的恢复起着关键性的作用。然而，生活中很多人不重视这一点，常常暴饮暴食，尤其是经常进食一些高蛋白、高热量以及高脂肪的食物，这样会导致患者脾胃失调的局面，那么势必会引发各种心血管疾病的危险，冠心病也不例外。</p>
                        <p>5、寒冷刺激：此外，专家提醒：冠心病患者在日常还有注意做好保暖的工作，避免受到寒冷的刺激，以免导致疾病发作，甚至病情加重的危险。</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="contain">
                    <div class="l-title" id="section-2">
                        <a href="#" id="page2">脑梗塞的先兆症状及临床表现</a>
                    </div>
                    <div class="text">
                        <p>脑梗塞—infarction of the brain
                            ，动脉阻塞后出现相应部位脑组织的破坏，可伴发出血。发病机制为血栓形成或栓塞，症状的性质因病变累及的血管不同而异。脑梗塞是由于脑动脉粥样硬化，血管内膜损伤使脑动脉管腔狭窄，进而因多种因素使局部血栓形成，使动脉狭窄加重或完全闭塞，导致脑组织缺血、缺氧、坏死，引起神经功能障碍的一种脑血管病。</p>
                        <p>脑梗塞的主要因素有：高血压病、冠心病、糖尿病、体重超重、高脂血症、喜食肥肉，许多病人有家族史。多见于45～70岁中老年人。</p>
                        <p>(一)
                            脑梗塞的先兆症状：脑梗塞的病人多在安静休息时发病，有的病人一觉醒来，发现口眼歪斜，半身不遂，流口水，吃东西掉饭粒，举不动筷子，这就是发生了脑梗塞，常使人猝不及防。只有部分病人发病前有肢体麻木感，说话不清，一过性生活眼前发黑，头晕或眩晕，恶心，血压波动(可以升高或偏低)等短暂脑缺血的症状。这些先兆症状一般很轻微，持续时间短暂，常常被人忽视。</p>
                        <p>(二) 脑梗塞的临床表现：梗塞的部位和梗塞面积有所不同，最容易出现的表现如下：</p>
                        <p>
                            1、年龄与性别：根据临床研究统计，年龄超过四十岁以后的，不论是男性还是女性，患上冠心病的几率都大大增加。不过，专家也同时提醒：女性在绝经前患冠心病几率要相对男性小一些，但是绝经后患病几率便大大增加，这是为什么呢?这主要是因为女性在绝经后，体内雌性激素分泌减少，女性心血管缺乏了保护伞，从而心脏血管缺乏缓冲适应力，所以心脏血管病的发生率就急剧增加。</p>
                        <p>
                            2、高血脂症：脂质代谢紊乱也是引发冠心病的重要原因之一，这是因为胆固醇的提高会导致患上冠心病的几率大大增加，这是因为胆固醇上升会导致肝功能受损，导致脂质降解受损，从而影响肝脏的正常代谢能力，最终引发冠心病的危险。</p>
                        <p>
                            3、七情内伤：人们生活中表现的、怒、忧、思、悲、恐、惊等，这些情绪都会影响着人们的身体健康。情绪波动较大，会导致患者气郁不畅，气滞血瘀，心脉弊阻，不通则痛，换句话说，这也同样会导致冠心病发生的几率大大增加。</p>
                        <p>
                            4、饮食不节：我们应该都明白，健康的饮食往往对疾病的恢复起着关键性的作用。然而，生活中很多人不重视这一点，常常暴饮暴食，尤其是经常进食一些高蛋白、高热量以及高脂肪的食物，这样会导致患者脾胃失调的局面，那么势必会引发各种心血管疾病的危险，冠心病也不例外。</p>
                        <p>5、寒冷刺激：此外，专家提醒：冠心病患者在日常还有注意做好保暖的工作，避免受到寒冷的刺激，以免导致疾病发作，甚至病情加重的危险。</p></div>
                </div>
            </section>
            <section>
                <div class="contain">
                    <div class="l-title" id="section-3">
                        <a href="#" id="page3">怎样防治脑梗塞?</a>
                    </div>
                    <div class="text">
                        <p>脑血栓形成是危害老年人健康的一种重大疾病。由于心房颤动造成的脑栓塞，近来发病也日趋增多。</p>
                        <p>
                            “我今年64岁，1999年患了脑梗塞，治疗后留有后遗症，主要是右侧上肢活动不利，行走尚可。但从2000年9月验血发现血流变有多项指标异常，有高血黏度和红细胞聚集的倾向，但输液后趋于正常。我自得病后一直吃药，先后服过络欣通、通心络、天保宁、利脑心、消栓通络、血栓心脉宁等中成药，以及阿司匹林肠溶片(每晚25毫克)、维生素C和E等，还服过藏药。在饮食上以清淡为主，并坚持运动。但尽管采取上述措施，每到春秋验血时血流变仍有6项不达标(全血黏的低切、中切、高切、红细胞压积等4项超过上限指标，红细胞聚集指数和红细胞电泳指数低于下限指标)。每次均须通过输液才趋于正常。为此，我担心病情会复发。今求教有关专家，我该怎样防治?”——唐山
                            董际岱</p>
                        <p>
                            脑血栓形成是危害老年人健康的一种重大疾病。由于心房颤动造成的脑栓塞，近来发病也日趋增多。脑血栓形成和脑栓塞是老年人发生脑梗塞的两大重要原因。你患了“脑梗塞”病，并有偏瘫。但不知是脑血栓形成还是脑栓塞。请去神经内科进一步检查弄清原因。这组疾病的防治十分重要。首先要查清危险因素并积极防治，如血压、血糖、血脂、抽烟、心脏病等。如果有异常则应作相应治疗。希望你详细体检。防止血栓的再发可以服用阿司匹林、阿魏酸钠(川芎嗪)、抵克利得等抗血小板凝集药。其中两种合用比单用为好。时间为12～18个月。可随访血黏度。这是目前世界上公认的方法，也是提倡的方法。这些药物大多为国家基本药物，价格合理。不要乱用其他药物。对于你来说，尚有肢体的康复治疗。可以拉吊环、骑健身车等，以帮助瘫痪肢体的恢复。瘫痪肢体的康复主要靠体疗，药物是没帮助的。你可在当地医院康复科医师指导下进行锻炼。</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="contain">
                    <div class="l-title" id="section-4">
                        <a href="#" id="page4">类风湿性关节炎</a>
                    </div>
                    <div class="text">
                        <p>
                            类风湿性关节炎是一种以关节病变为主，能引起肢体严重畸形的慢性、全身性、免疫性疾病。本病多见于温带湿度较大的地区，全球均有发病,我国的发病率为0.35~0.4%，按此数据估计，我国有类风湿性关节炎患者在400万左右。
                            发病高峰年龄在20—45岁之间约占80%，多见于女性，男女之比约为1：3。本病发病多隐渐，而以潜伏期1—5年者最多。我国的流行病学资料初步调查结果显示，北京郊县、广东农村、山东农村的RA患病率分别达到0.34%,0.32%,0.36%
                            ,
                            美国的一些印第安人部落RA的患病率接近3.5-5.3%，且高发年龄为45-50。以关节晨僵，疼痛肿胀及功能障碍，为本病主要临床表现。轻者影响关节功能，重者造成残疾，或因重要脏器如血管、心脏受累而危及生命。祖国医学将其归属于“痹证”范畴，但痹证可包括的疾病甚多，而本病病程长，病情顽固不化，不少学者认为性关节炎，更接近于《金匮要略》之“历节风”，或称“顽痹”、以区别于其它的痹证。</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="contain">
                    <div class="l-title" id="section-5">
                        <a href="#" id="page5">牙刷不正确 也会致胃病</a>
                    </div>
                    <div class="text">
                        <p>
                            溃疡病是一种常见的慢性全身性疾病，分为胃溃疡和十二指肠溃疡，又叫做消化性溃疡。它之所以称之为消化性溃疡，是因为既往认为胃溃疡和十二指肠溃疡是由于胃酸和胃蛋白酶对粘膜自身消化所形成的，事实上胃酸和胃蛋白酶只是溃疡形成的主要原因之一，还有其他原因可以形成溃疡病。由于胃溃疡和十二指肠溃疡的病因和临床症状有许多相似之处，医生有时难以区分是胃溃疡还是十二指肠溃疡，因此往往诊断为消化性溃疡，或胃、十二指肠溃疡。如果能明确溃疡在胃或十二指肠，那就可直接诊断为胃溃疡或十二指肠溃疡。</p>
                        <p>
                            大家都知道，慢性胃溃疡、慢性胃炎是常见的多发病，而且每次发作，胃痛难受、痛苦不堪。现代医学研究表明：幽门螺杆菌是导致这些慢性胃病的元凶。幽门螺杆菌进入胃黏膜后，引起炎性细胞浸润、细胞变性坏死等胃部溃疡病变，也可直接感染胃黏膜上皮细胞，造成炎性病变。患者在使用特种抗生素和含铋的药物后，可以杀死幽门螺旋杆菌而使溃疡愈合。</p>
                        <p>遗憾的是，许多患者往往没有过多长时间，溃疡和胃炎又发作了，多次复发，便形成了临床上不易治疗的慢性
                            胃溃疡、慢性胃炎。经过大量的研究，发现不洁的口腔内和污染了的牙刷上，暗藏着大量的幽门螺杆菌，牙缝以及牙刷深部所遗留的食物残渣，为这些病菌提供了良好的滋生条件。幽门螺杆菌随唾液和饮食进入胃内，是导致胃溃疡、胃炎复发的根本原因。###　　美国俄克拉荷马大学牙科学院的汤姆。格拉斯教授对100名慢性胃病的志愿者做了试验，让受试者每周更换一把新牙刷，历经半年之久，无一例胃病复发，效果显著。</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="contain">
                    <div class="l-title" id="section-6">
                        <a href="#" id="page6">消化性溃疡的五大病因</a>
                    </div>
                    <div class="text">
                        <p>消化性溃疡的发病因素目前较为明确的发病因素如下几种：</p>
                        <p>
                            1、据多年的研究证实，局部的溃疡灶形成是胃或十二指肠壁组织被胃液(盐酸和蛋白酶)消化的结果。这种自我消化过程是溃疡形成的直接原因。当过多的胃酸分泌后，作用于胃或十二指肠粘膜，使其受到腐蚀，正常结构遭到破坏，从而形成溃疡病灶。</p>
                        <p>
                            2、正常生理状况下，胃酸分泌的纯胃液(盐酸和各种消化酶)具有强大的消化作用，能消化一切组织(蛋白质)包括胃壁本身。只是由于胃和十二指肠粘膜的完整性及其本身所具有的防御功能才不至于被强大的胃液所消化。但当胃和十二指肠粘膜本身的防御功能发生障碍或粘膜组织遭到破坏时，即使胃酸分泌正常而不比平时增加，也能引起组织的自我消化过程而形成溃疡。此时，胃肠壁的血液循环降低，物质代谢发生障碍，组织营养不良时，亦可致粘膜发生自我消化而形成溃疡灶。</p>
                        <p>
                            3、某些精神因素的刺激，如强烈的情绪波动，过度紧张或忧虑等可引起大脑皮层的兴奋与抑制过程失调，而致植物神经功能紊乱，引起胃肠肌肉及血管的痉挛，使局部缺血，营养障碍，粘膜对胃酸的消化作用发生易感性，从而导致粘膜形成溃疡。因此，性格内向、精神脆弱的人，易患溃疡病。</p>
                        <p>4、饮食不规律，食物过热、过冷、粗糙、以及暴饮暴食、烈性酒、浓茶、浓咖啡，某些药物如阿司匹林等均可诱发溃疡形成。</p>
                        <p>
                            5、有人认为，“O”型血者患十二指肠溃疡的发生率较其它血型者高出40%，还观察到，溃疡病病人的亲属中，溃疡病的发病率高于其它人，这说明溃疡病的发生可能与遗传因素有关系。另外有人认为，吸烟也是致病因素之一，吸烟者发病率显著高于不吸烟音，其次，长期吸烟不利于溃疡病灶的愈合，并可导致复发。</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="contain">
                    <div class="l-title" id="section-7">
                        <a href="#" id="page7">胃溃疡诊断依据</a>
                    </div>
                    <div class="text">
                        <p>诊断依据有：</p>
                        <p>1、慢性病程，周期性发作，常与季节变化、精神因素、饮食不当有关;或长期服用能致溃疡的药物如阿司匹林等。</p>
                        <p>2、上腹隐痛、灼痛或钝痛，服用碱性药物后缓解。典型胃溃疡常于剑突下偏左，好发于餐后半小时到1～2小时。疼痛常伴反酸嗳气。</p>
                        <p>3、基础泌酸量及最大泌酸量测定有助诊断。胃溃疡的基础泌酸量正常或稍低，但不应为游离酸缺乏。</p>
                        <p>4、溃疡活动期大便隐血阳性。</p>
                        <p>5、X线钡餐检查可见龛影及粘膜皱襞集中等直接征象。单纯局部压痛，激惹变形等间接征象仅作参考。</p>
                        <p>
                            6、胃镜检查，可于胃部见圆或椭圆、底部平整、边缘整齐的溃疡。根据溃疡面所见，可分为：①活动期：溃疡面为灰白或褐色苔膜覆盖，边缘肿胀，色泽红润、光滑而柔软。②愈合期：苔膜变薄，溃疡缩小，其周围可见粘膜上皮再生的红晕;或溃疡面几乎消失，其上有极少的薄苔。③瘢痕期：溃疡面白苔已消失，变成红色充血的瘢痕;可见皱襞集中。</p>
                        <p>具备以上(1)(2)(5)或(2)(6)项者可作胃溃疡诊断，对诊断为胃溃疡者须与恶性溃疡鉴别，凡能进行胃镜检查者应做胃粘膜活检予以确诊。</p></div>
                </div>
            </section>
            <section>
                <div class="contain">
                    <div class="l-title" id="section-8">
                        <a href="#" id="page8">急性胃肠炎</a>
                    </div>
                    <div class="text">
                        <p>
                            诺如病毒(Norovirus)是一组杯状病毒属病毒，1968年在美国诺瓦克市被分离发现。诺如病毒主要存活于受污染的水源，容易造成人类感染性腹泻。发现以来，在各国都出现过持续性流行爆发，传染性特别强，很容易传染。</p>
                        <p>
                            专家指出，诺如病毒感染引起的腹泻，容易在学校、幼儿园、工厂等人群密集的场所发生局部聚集性感染，除此之外，春天很容易发生由多类病菌引急性肠胃炎通常起病突然，主要症状为恶心、呕吐、发热、腹痛和腹泻。儿童患者呕吐普遍，成人患者腹泻为多，主要症状有以下五点：</p>
                        <p>1、有暴饮暴食或吃不洁腐败变质食物史。</p>
                        <p>2、起病急，恶心、呕吐频繁，剧烈腹痛，频繁腹泻，多为水样便，可含有未消化食物，少量粘液，甚至血液等。</p>
                        <p>3、常有发热、头痛、全身不适及程度不同的中毒症状。</p>
                        <p>4、呕吐、腹泻严重者，可有脱水、酸中毒，甚至休克等。</p>
                        <p>5、体征不明显，上腹及脐周有压痛，无肌紧张及反跳痛，肠鸣音多亢进。###　　此外，头痛、发热、寒颤和肌肉痛也是常见症状，少数严重病例，由于频繁呕吐及腹泻，可出现脱水。</p>
                        <p>急性肠胃炎最怕脱水</p>
                        <p>
                            一旦得了急性肠胃炎，应该尽量卧床休息，并且口服葡萄糖、电解质液以补充体液的丢失。专家指出，脱水是诺如病毒胃肠炎的主要死因，因此，防止脱水是最重要的环节。对严重病例，尤其是幼儿及体弱者应及时输液或口服补液，以纠正水、电解质紊乱及酸碱平衡失调。</p>
                        <p>补水也要注意，不要一味的喝白开水。最好饮用含适当盐分、水分的电解质水溶液，如果拼命喝白开水恐怕会导致体内电解质不足，引发抽筋现象。药店里能买到的补液盐也可买回自己冲服。</p>
                        <p>
                            需要提醒的是，经过初步的治疗，急性肠胃炎的急性症状消失，但不意味着消化道功能已经完全恢复正常，这时的饮食治疗是相当重要。如急性肠胃炎初愈后就开始正常饮食，甚至进食油腻及辛辣食物或饮酒，尚未恢复功能的胃肠道就会不堪重负，出现腹胀等不适，有些还会转为慢性胃肠疾病，如慢性胃炎、慢性腹泻等。</p>
                        <p>
                            一般在急性肠胃炎后5~7天内，根据每个患者的不同情况，首先要避免有害因素的侵袭：即戒烟、酒、浓茶、咖啡等。少吃辛辣及粗糙的食物，不暴饮暴食，少服对胃肠有刺激性的药物等。其次，饮食提倡一日三餐，每顿不可过饱，不主张多餐，以免增加胃的负担。一般先进食比较清淡的流质、半流质，如米汤、粥、新鲜果汁，逐渐增加一些蛋白质食物，但忌油腻、油炸食品，并且在开始进食宜少量，等胃肠道功能恢复后，才开始正常饮食，并注意休息。</p>
                        <p>预防肠胃炎要注意卫生</p>
                        <p>
                            预防诺如等肠道病毒的最好办法就是消毒。因为，诺如病毒主要通过人的消化道进入人体，受污染的水、食物，感染者的呕吐物、粪便等等都是可能的传播媒介。专家指出，一般来说，只要注意个人卫生，勤洗手，冰箱里生、熟食物分开放置，就可以有效预防。</p>
                        <p>
                            2006年12月，日本发生了一轮诺瓦克病毒大暴发，短短一个月内已有感染者不治身亡，估计感染者总数达到1000万名。有专家分析，这次大规模的暴发与日本人饮食中的鱼生有关。因此，少吃生食，把食物煮熟在吃也是预防的办法之一。</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>